# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env
*.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# VSCode & IDE
.vscode/
.idea/

# Mac & Windows
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
